newtry{
  color: white;
  size: 33px;
}


body {
  border-style: solid;
  border-width: 5px;
  border-color: white;
  margin: 22px;
  width: 100wh;
  height: 92vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, rgb(155, 26, 172), #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


h1,
h6 {
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
  position: absolute;
  top: 27%;
  right: 0;
  left: 0;
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 5.2em;
  letter-spacing: 0.1em;
}

.demo .newone{
  text-align: center;
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  font-size: 0.2em;
  color: white;
}

.main-title .thin {
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
     font-size: 3em;
  }
}
.buttonText{
  font-family: inherit;
  font-size: 1.2em;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background-color: inherit;
  color: #ffffff;
  padding: 10px 24px;
  -webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
}
.button{
    font-family: inherit;
    font-size: 1.2em;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: inherit;
    color: #ffffff;
    padding: 10px 24px;
    -webkit-transition-duration: 0.4s;
 transition-duration: 0.4s;

}
.button:hover{
    background-color: #4CAF50; /* Green */
 color: white;
}

.lds-roller {
  display: inline-block;
  
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.4s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Movedown {

  position: relative;
  
  top: 200px;
}

.mainpagetitle{
  font-size: 35px;
}
